#sign{
	font-family: inherit;
	font-size:1.1em;
	margin: 0em 1em;
}

.content{
	margin:auto;
	max-width: 42em;
	padding:1em;
	font-size:1.1em;
	height:20em;
	position:relative;
}

.horoscope{
	margin:1.5em 3em;
	max-width:32em;
	font-size:1.1em;
	line-height: 1.2;
	font-family:"Amiri", serif;
}

.credit{
	position:absolute;
	bottom:.5em;
	font-size:.8em;
	color:hsl(0,0%,30%);
}

span{
	margin-left: 2em;
}
