<!DOCTYPE html>
<html>
<head>
	<title>AstroLogos About</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/about.js"></script>

</head>
<body>
	<div class="menu field">
		<div class="item field currPage"></div>
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item field"></div>
	</div>

	<h1 class="field">About</h1>
	<div class="head">  
		<img class="headshot" src="../images/back.png" alt="back of an astroLogos card">
	</div>
	<div class="field content">
		AstroLogos is a project encompassing several areas of art that have to do with the metaphysical. This website deals with tarot readings and meanings of tarot cards. It features an original tarot deck with meanings and descriptions, designed by the creator of this website. 
		<br><br>
		About the creator: I go by May Mois, they/them pronouns. I am a college student interested in investigation of life from different approaches. 
	</div>

</body>
</html>
