<!DOCTYPE html>
<html>
<head>
	<title>AstroLogos Tarot</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>

</head>
<body>
	<div class="menu field">
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item currPage field"></div>
	</div>

	<h1 class="field">Contact me</h1>
	<div class="content">
		<div class="line">
			<div class="field text">Name:</div>	
		</div>
		<div class="line">
			<div class="field text">Email:</div>	
		</div>
		<div class="line">
			<div class="field text">Comment:</div>	
			
		</div>
		<form action="https://formspree.io/moiseevamayya@gmail.com" method="POST">
			<input class="field input" name="name" type="text">	
			
			<input class="field input" name="email" type="email">	

			<textarea class="field input area" name="comment" placeholder="Comments, questions, and anything else you can think of that I should know are welcome!"></textarea>	

			<button class="field">Submit</button>

		</form>	
	</div>
</body>
</html>