<!DOCTYPE html>
<html>
<head>
	<title>AstroLogos Tarot</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/meanings.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../json/tarot.json"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/meanings.js"></script>


</head>
<body>
	<div class="menu field">
		<div class="item field"></div>
		<div class="item field"></div>
		<div class="item field currPage"></div>
		<div class="item field"></div>
		<div class="item field"></div>
	</div>

	<h1 class="field">Tarot card meanings</h1>
	
	<input id="search" class="field" type="search" placeholder="Search for tarot cards"></input>
	<button class="field">Search</button>
</body>
</html>